<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport">
        <title> Sign Up </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/general.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div>
            <div class="form-container">
                <h2> Sign Up </h2>
                <form id="signup" action="/signup" method="post">
                    <div class="form-group">
                        <p id="email-err" class="err-text"> <%= emailErrMsg %> </p>
                        <div class="input-bar">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="text" value="<%= emailVal %>" class="<%= emailErrMsg ? 'inputErr' : '' %>" id="email-input" name="email" placeholder="Email Address" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <p id="password-err" class="err-text"> <%= passwordErrMsg %> </p>
                        <div class="input-bar">
                            <i id="passwordHide" class="fa-solid fa-eye"></i>
                            <input type="password" id="password" value="<%= passwordVal %>" class="<%= passwordErrMsg ? 'inputErr' : '' %>" name="password" placeholder="Password" required autocomplete="off">
                        </div>
                        <div id="password-req" class="password-req">
                            <div class="req-box <%= initialLoad ? 'shrink' : '' %> fa-circle-xmark <%= validLength ? 'satisfied shrink' : 'err-text' %>" id="length-req-box">
                                <i class="fa-solid length-req"></i>
                                <p class="length-req"> Contains 6-30 characters </p>
                            </div>
                            <div class="req-box <%= initialLoad ? 'shrink' : '' %> fa-circle-xmark <%= containsLower ? 'satisfied shrink' : 'err-text' %>" id="lower-req-box">
                                <i class="fa-solid lower-req"></i>
                                <p class="lower-req"> At least 1 lowercase character </p>
                            </div>
                            <div class="req-box <%= initialLoad ? 'shrink' : '' %> fa-circle-xmark <%= containsUpper ? 'satisfied shrink' : 'err-text' %>" id="upper-req-box">
                                <i class="fa-solid upper-req"></i>
                                <p class="upper-req"> At least 1 uppercase character </p>
                            </div>
                            <div class="req-box <%= initialLoad ? 'shrink' : '' %> fa-circle-xmark <%= containsNumSpec ? 'satisfied shrink' : 'err-text' %>" id="num-spec-req-box">
                                <i class="fa-solid num-spec-req"></i>
                                <p class="num-spec-req"> At least 1 number or special character </p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">Sign Up</button>
                </form>
                <div class="centered">
                    <p class="subtext"> Already have an account?</p>
                    <a href="/login">Login to Existing Account</a>
                </div>
            </div>
        </div>
    </body>
    <script src="email-scripts.js"></script>
    <script src="password-scripts.js"></script>
</html>

